[Unit]
Description=Service running Champi Stack
After=basic.target

[Service]
User=champi
Type=simple
# To get python logs real-time
Environment=PYTHONUNBUFFERED=1
ExecStart=/bin/bash /home/champi/champi_ws/src/champi_robot_ros/setup/robot/tmux/champi_launch.bash
Restart=on-failure

# Tell systemd to send Ctrl+C (SIGINT) instead of standard SIGTERM
KillSignal=SIGINT
# Force kill (SIGKILL) any processes that don't exit within 5 seconds
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
