<?xml version="1.0"?>
<robot name="my_robot">
  <!-- Base Link -->
  <link name="base_link">
    <inertial>
      <mass value="1"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
  </link>

  <!-- Lidar Link -->
  <link name="base_laser">
    <inertial>
      <mass value="1"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
  </link>

  <!-- Camera Link -->
  <link name="camera_link">
    <inertial>
      <mass value="1"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
  </link>

  <!-- Joint between base_link and lidar -->
  <joint name="base_to_lidar" type="fixed">
    <parent link="base_link"/>
    <child link="base_laser"/>
    <origin xyz="0 0 0.3" rpy="0 0 -1.57"/>
  </joint>

  <!-- Joint between base_link and camera -->
  <joint name="base_to_camera" type="fixed">
    <parent link="base_link"/>
    <child link="camera_link"/>
    <origin xyz="0.082 0.032 0.314" rpy="-0.064 0.804 -0.044"/>
    <!-- xyz = roll pitch yaw -->
  </joint>

</robot>


<!-- At time 0.0
- Translation: [0.432, -0.019, -0.441]
- Rotation: in Quaternion (xyzw) [0.655, -0.271, 0.643, 0.289]
- Rotation: in RPY (radian) [1.734, -1.540, 0.593]
- Rotation: in RPY (degree) [99.346, -88.256, 33.993]
- Matrix:
  0.025 -0.727  0.686  0.432
  0.017 -0.686 -0.727 -0.019
  1.000  0.030 -0.005 -0.441
  0.000  0.000  0.000  1.000 -->
